doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Выкуп авто в Перми
        link(rel="stylesheet", href="assets/css/mainstyle.css")
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"/>
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="assets/js/slick.min.js")
        script(src="assets/js/parallax.min.js")
        script(src="assets/js/common.js")
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    body
        header
            .container
                .header
                    .header-contacts
                        a.header-contacts__phone(href="tel:+79641874067") +7 (964) 187-40-67
                        a.header-contacts__mail(href="mailto:ravrav4eg@gmail.com") ravrav4eg@gmail.com
                    h1.header-headline 
                        strong Выкуп авто 
                        | в Перми и  Пермском крае
                    ul.soc-list
                        li.soc-list__item
                            a(href="")
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.854" height="17.101" viewBox="0 0 16.854 17.101">
                                    <path d="M679.332,54.936a17.8,17.8,0,0,1,4.889.633,4.35,4.35,0,0,1,3.23,3.256,12.7,12.7,0,0,1-.036,6.531,4.178,4.178,0,0,1-3.156,3.074,18.07,18.07,0,0,1-5.621.614,1.007,1.007,0,0,0-.854.389q-1.043,1.15-2.117,2.273c-.158.167-.332.417-.607.282-.23-.113-.181-.382-.183-.6-.005-.749-.011-1.5,0-2.247a.665.665,0,0,0-.5-.739,4.65,4.65,0,0,1-3.186-3.946,14,14,0,0,1,.039-4.737c.441-2.648,1.9-4,4.81-4.507A15.169,15.169,0,0,1,679.332,54.936Zm4.935,10.593a.649.649,0,0,0-.231-.527,7.672,7.672,0,0,0-1.882-1.213.844.844,0,0,0-1.069.272,1.187,1.187,0,0,1-1.6.286,5,5,0,0,1-2.526-2.413.862.862,0,0,1,.3-1.3.783.783,0,0,0,.225-1.244,12.611,12.611,0,0,0-.873-1.157c-.6-.677-.885-.738-1.459-.388-1.021.623-1.344,1.181-1.035,1.946a12.285,12.285,0,0,0,8,7.239A1.963,1.963,0,0,0,684.267,65.528Zm-4.494-8.419c-.166.053-.5-.128-.513.188-.007.236.317.147.5.186.15.032.305.042.457.07a4.428,4.428,0,0,1,3.981,4.127,2.559,2.559,0,0,0,.064.324c.035.124.064.281.241.251.133-.022.145-.157.144-.265a4.576,4.576,0,0,0-.029-.66A5.058,5.058,0,0,0,679.773,57.109Zm.278,1.276c-.1.006-.354-.091-.387.133s.225.212.39.244.3.044.452.08a2.816,2.816,0,0,1,2.337,2.512c.029.2-.048.532.276.484.279-.041.2-.35.171-.558A3.333,3.333,0,0,0,680.052,58.385Z" transform="translate(-671.007 -54.924)"/>
                                </svg>
                        li.soc-list__item
                            a(href="")
                                <svg xmlns="http://www.w3.org/2000/svg" width="18.703" height="18.665" viewBox="0 0 18.703 18.665">
                                    <path d="M655.653,63.454a9.352,9.352,0,0,1-13.925,8.108,1.221,1.221,0,0,0-1.107-.114c-.759.274-1.531.512-2.3.761-.529.172-.676-.016-.5-.526.221-.64.4-1.294.653-1.922a1.613,1.613,0,0,0-.152-1.535,9.358,9.358,0,0,1,8.209-14.134A9.209,9.209,0,0,1,655.653,63.454Zm-14.56-2.467a2.407,2.407,0,0,0,.164,1,10.489,10.489,0,0,0,7.766,6.554,2.582,2.582,0,0,0,2.451-.927,1.2,1.2,0,0,0-.389-2.02c-.208-.106-.417-.212-.628-.314-1.149-.555-1.175-.576-1.96.412a.938.938,0,0,1-1.337.294,7.24,7.24,0,0,1-3.168-2.794c-.237-.387-.286-.741.06-1.052a1.422,1.422,0,0,0,.219-1.962c-.187-.34-.3-.721-.466-1.072a1.019,1.019,0,0,0-1.661-.37A2.955,2.955,0,0,0,641.093,60.987Z" transform="translate(-636.949 -54.091)"/>
                                </svg>
                        li.soc-list__item
                            a(href="")
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15.101" viewBox="0 0 18 15.101">
                                    <path d="M619.47,283.141q-.345,1.611-.69,3.221-1.017,4.787-2.033,9.574a1.8,1.8,0,0,1-.243.654.745.745,0,0,1-.847.334,1.644,1.644,0,0,1-.612-.293q-1.893-1.4-3.787-2.8c-.133-.1-.21-.108-.337.017-.631.621-1.274,1.23-1.912,1.844a.989.989,0,0,1-.574.308c-.139.016-.208-.029-.2-.181.034-.48.061-.96.094-1.44.032-.46.069-.92.1-1.38.027-.376.056-.752.079-1.128a.348.348,0,0,1,.157-.236q1.289-1.167,2.579-2.331l3.827-3.454q.515-.465,1.028-.931a1.588,1.588,0,0,0,.137-.139.117.117,0,0,0,.031-.142.152.152,0,0,0-.154-.064.944.944,0,0,0-.436.158l-3.554,2.237q-2.876,1.81-5.75,3.623a.356.356,0,0,1-.328.045q-1.917-.606-3.836-1.2a1.543,1.543,0,0,1-.543-.258.437.437,0,0,1-.052-.7,1.461,1.461,0,0,1,.566-.373q2.147-.834,4.3-1.662l11.86-4.566c.024-.009.047-.022.07-.033.319,0,.638,0,.957,0,.084,0,.1.016.1.1C619.467,282.347,619.47,282.744,619.47,283.141Z" transform="translate(-601.472 -281.849)"/>
                                </svg>
                    button.btn.btn-phone(data-fancybox data-src="#call-me") Заказать звонок
        main
            .main-block
                .container
                    .buyout
                        div
                            h2.headline.headline_buyout Выкуплю Ваш автомобиль <br/>
                                strong до 30% выгоднее
                                |, чем Trade-IN!
                            span.advantages-headline Предлагаю лучшую цену:
                            ul.advantages
                                li.advantages-item
                                    .advantages-item__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="15.5" height="15.443" viewBox="0 0 15.5 15.443">
                                            <path d="M735.809,782.323a4.515,4.515,0,1,1-4.515-4.514A4.514,4.514,0,0,1,735.809,782.323Zm-.788,4.727a6.02,6.02,0,0,1-7.486-.027c-2.786,1.022-4.03,4.6-4.03,6.228H739C739,791.634,737.751,788.086,735.021,787.051Z" transform="translate(-723.505 -777.809)" fill="#0173eb"/>
                                        </svg>
                                    span Я покупаю машины для 
                                        strong своих клиентов 
                                        | и для дальнейшей 
                                        strong перепродажи
                                li.advantages-item
                                    .advantages-item__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                            <path d="M624.979,782.058h1.266a.833.833,0,0,0,.133.032,8.476,8.476,0,0,1,3.485,1.035,8.884,8.884,0,0,1,4.61,6.367c.061.32.093.645.139.968v1.2a1.4,1.4,0,0,0-.033.169,8.578,8.578,0,0,1-1.234,3.835,8.876,8.876,0,0,1-6.183,4.263c-.315.058-.635.091-.952.136h-1.195a1.254,1.254,0,0,0-.153-.032,8.621,8.621,0,0,1-4.106-1.392,8.868,8.868,0,0,1-4.005-6.011c-.057-.308-.093-.621-.138-.932v-1.265a.786.786,0,0,0,.033-.133,8.185,8.185,0,0,1,.679-2.743,8.888,8.888,0,0,1,6.724-5.352C624.355,782.135,624.668,782.1,624.979,782.058Zm.341,14.7a6.224,6.224,0,0,0,2.892-.61,5.866,5.866,0,0,0,2.469-2.279.706.706,0,0,0-.2-1,.7.7,0,0,0-1,.266c-.05.08-.1.159-.151.237a4.5,4.5,0,0,1-7.609-.242.676.676,0,0,0-.687-.364.692.692,0,0,0-.507,1.093A5.776,5.776,0,0,0,625.321,796.759ZM622.8,789.9a1.124,1.124,0,1,0-1.125-1.115A1.129,1.129,0,0,0,622.8,789.9Zm6.749-1.106A1.125,1.125,0,1,0,628.4,789.9,1.133,1.133,0,0,0,629.548,788.79Z" transform="translate(-616.612 -782.058)" fill="#0173eb"/>
                                        </svg>
                                    span Я 
                                        strong не скрываю своих заказчиков 
                                        | при их согласии на личную встречу
                                li.advantages-item
                                    .advantages-item__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18.175" height="12.5" viewBox="0 0 18.175 12.5">
                                            <path d="M1323.64,162c0,.321,0,.628,0,.935a.758.758,0,0,1-.8.8c-.237,0-.473,0-.71,0a.753.753,0,0,1-.756-.756c0-.337,0-.675-.005-1.012a.3.3,0,0,0-.1-.2,1.173,1.173,0,0,1-.466-.951c0-1,0-2,0-3a3.07,3.07,0,0,1,2.025-2.811c.043-.015.084-.034.135-.055-.365-.109-.722-.2-1.063-.325a1.293,1.293,0,0,1-.442-.307.3.3,0,0,1,.029-.457.946.946,0,0,1,.578-.239c.228-.035.455-.067.683-.1a.5.5,0,0,1,.607.5c0,.041,0,.082,0,.168.049-.076.078-.116.1-.159q.342-.641.682-1.283a2.485,2.485,0,0,1,1.464-1.265,3.092,3.092,0,0,1,.73-.126,49.644,49.644,0,0,1,5.232-.091c.691.021,1.381.072,2.071.115a2.254,2.254,0,0,1,1.818,1.082c.308.473.552.989.825,1.486l.132.24c.005-.089.009-.137.012-.185a.492.492,0,0,1,.589-.483q.429.064.857.134c.28.047.532.235.534.423a.539.539,0,0,1-.409.5c-.38.143-.773.25-1.171.376.055.021.108.042.161.061a3.075,3.075,0,0,1,1.992,2.835c0,.976,0,1.952,0,2.929a1.188,1.188,0,0,1-.482,1,.254.254,0,0,0-.083.171c-.008.331,0,.663,0,.994a.759.759,0,0,1-.792.792c-.237,0-.473,0-.71,0a.754.754,0,0,1-.767-.763c0-.319,0-.638,0-.97Zm.067-7.224a68.154,68.154,0,0,1,12.369,0c-.1-.193-.195-.377-.294-.557-.276-.5-.531-1.017-.839-1.5a1.567,1.567,0,0,0-1.2-.764c-.948-.074-1.9-.134-2.851-.14-1.354-.008-2.708.032-4.062.067a4.234,4.234,0,0,0-1.016.124,1.884,1.884,0,0,0-1.177,1.009c-.286.55-.581,1.095-.872,1.642C1323.742,154.7,1323.728,154.734,1323.707,154.778Zm-.222,3.8v.047h1.507c.134,0,.291-.016.324-.158a.472.472,0,0,0-.08-.337,1.4,1.4,0,0,0-.784-.55c-.842-.228-1.688-.441-2.536-.649a.426.426,0,0,0-.546.438c0,.171,0,.343,0,.514a.6.6,0,0,0,.627.642Zm12.8.046v-.045c.508-.018,1.016-.035,1.524-.055a.6.6,0,0,0,.6-.63c0-.171,0-.343,0-.514a.432.432,0,0,0-.571-.443c-.824.205-1.648.409-2.468.629a1.475,1.475,0,0,0-.874.627c-.14.215-.045.4.209.428a1.668,1.668,0,0,0,.195,0Z" transform="translate(-1320.802 -151.236)" fill="#0173eb"/>
                                        </svg>
                                    span В работе у меня от 5 до 15 заказов, я постоянно нахожусь в 
                                        strong поиске машин
                                li.advantages-item
                                    .advantages-item__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19.988" height="19.999" viewBox="0 0 19.988 19.999">
                                            <g id="Сгруппировать_117" data-name="Сгруппировать 117" transform="translate(-1332.654 -456.283)">
                                                <path id="Контур_25" data-name="Контур 25" d="M1352.641,466.286a9.994,9.994,0,1,1-9.95-10A9.969,9.969,0,0,1,1352.641,466.286Zm-17.944-.015a7.964,7.964,0,1,0,8.149-7.957A7.968,7.968,0,0,0,1334.7,466.272Z" transform="translate(0)" fill="#0173eb"/>
                                                <path id="Контур_26" data-name="Контур 26" d="M1342.734,468.7c.077.013.118.074.166.123.536.534,1.075,1.064,1.6,1.607.143.147.215.137.333-.029q1.881-2.652,3.775-5.3c.211-.3.21-.293.5-.087.506.365,1.01.732,1.525,1.084.184.126.226.215.08.42q-2.764,3.848-5.509,7.709c-.193.27-.192.271-.422.041-1.208-1.207-2.412-2.419-3.627-3.619-.172-.169-.165-.265,0-.427.479-.458.941-.934,1.41-1.4C1342.617,468.778,1342.659,468.717,1342.734,468.7Z" transform="translate(-3.192 -3.275)" fill="#0173eb"/>
                                            </g>
                                        </svg>
                                    span Обращение ко мне, ни к чему  Вас не обязывает
                                li.advantages-item
                                    .advantages-item__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="17.5" height="17.656" viewBox="0 0 17.5 17.656">
                                            <g id="Сгруппировать_113" data-name="Сгруппировать 113" transform="translate(-646.291 -156.748)">
                                                <path id="Контур_16" data-name="Контур 16" d="M651.55,174.445a7.9,7.9,0,0,1-3.625-.834,3.376,3.376,0,0,1-1.286-1.09,1.8,1.8,0,0,1,.136-2.273,4.406,4.406,0,0,1,1.962-1.261,8.737,8.737,0,0,1,3.768-.428,7.276,7.276,0,0,1,2.8.781,3.42,3.42,0,0,1,1.319,1.13,1.8,1.8,0,0,1-.132,2.2,4.412,4.412,0,0,1-1.95,1.28A8.686,8.686,0,0,1,651.55,174.445Z" transform="translate(-0.002 -4.181)" fill="#0173eb"/>
                                                <path id="Контур_17" data-name="Контур 17" d="M662.1,162.674a7.752,7.752,0,0,1-3.573-.822,3.4,3.4,0,0,1-1.311-1.115,1.8,1.8,0,0,1,.129-2.231,4.3,4.3,0,0,1,1.919-1.263,8.645,8.645,0,0,1,3.678-.464,7.438,7.438,0,0,1,2.951.8,3.387,3.387,0,0,1,1.288,1.088,1.791,1.791,0,0,1-.108,2.246,4.028,4.028,0,0,1-1.564,1.124A8.331,8.331,0,0,1,662.1,162.674Z" transform="translate(-3.764)" fill="#0173eb"/>
                                                <path id="Контур_18" data-name="Контур 18" d="M646.3,175.017a3.509,3.509,0,0,0,2.411,2.149,8.539,8.539,0,0,0,3.749.442,7.346,7.346,0,0,0,2.846-.787,3.34,3.34,0,0,0,1.347-1.174,5.492,5.492,0,0,0,.267-.554,2.47,2.47,0,0,1-1.25,2.685,6.334,6.334,0,0,1-2.674.932,11.758,11.758,0,0,1-1.793.1,7.079,7.079,0,0,1-3.621-1.019,2.707,2.707,0,0,1-1.126-1.223,2.2,2.2,0,0,1-.151-.64C646.279,175.639,646.3,175.348,646.3,175.017Z" transform="translate(0 -6.491)" fill="#0173eb"/>
                                                <path id="Контур_19" data-name="Контур 19" d="M646.3,178.292a3.253,3.253,0,0,0,1.984,1.932,8.363,8.363,0,0,0,4.2.615,7.306,7.306,0,0,0,2.828-.785,3.339,3.339,0,0,0,1.346-1.173,5.191,5.191,0,0,0,.262-.542,2.4,2.4,0,0,1-.957,2.468,6.009,6.009,0,0,1-2.46,1.055,8.887,8.887,0,0,1-4.741-.275,4.3,4.3,0,0,1-2-1.293,1.9,1.9,0,0,1-.46-1.232C646.3,178.805,646.3,178.549,646.3,178.292Z" transform="translate(-0.002 -7.654)" fill="#0173eb"/>
                                                <path id="Контур_20" data-name="Контур 20" d="M656.88,163.316a3.257,3.257,0,0,0,1.977,1.924,8.243,8.243,0,0,0,3.922.642,7.793,7.793,0,0,0,2.748-.634,3.65,3.65,0,0,0,1.714-1.362,5.623,5.623,0,0,0,.277-.585,3.519,3.519,0,0,1-.186,1.589,3,3,0,0,1-1.093,1.145,6.584,6.584,0,0,1-2.708.942,9.067,9.067,0,0,1-3.453-.157.733.733,0,0,1-.206-.082,6.437,6.437,0,0,0-1.594-.7,1.979,1.979,0,0,1-.945-.732,1.882,1.882,0,0,1-.455-1.339C656.888,163.748,656.88,163.532,656.88,163.316Z" transform="translate(-3.761 -2.328)" fill="#0173eb"/>
                                                <path id="Контур_21" data-name="Контур 21" d="M663.534,169.063c.191.015.35.032.509.038a8.149,8.149,0,0,0,4.243-.836,3.23,3.23,0,0,0,1.324-1.174c.108-.181.18-.383.3-.577a10.082,10.082,0,0,1-.084,1.212,2.164,2.164,0,0,1-.883,1.277,6.011,6.011,0,0,1-2.654,1.12,8.6,8.6,0,0,1-2.1.144c-.052,0-.137-.04-.145-.075A3.262,3.262,0,0,0,663.534,169.063Z" transform="translate(-6.126 -3.47)" fill="#0173eb"/>
                                                <path id="Контур_22" data-name="Контур 22" d="M664.393,176.715v-1.171h.385a8.182,8.182,0,0,0,3.39-.638,3.641,3.641,0,0,0,1.745-1.377,5.224,5.224,0,0,0,.263-.554,2.487,2.487,0,0,1-1.255,2.7,6.737,6.737,0,0,1-2.707.942c-.376.053-.757.072-1.137.1C664.86,176.726,664.642,176.715,664.393,176.715Z" transform="translate(-6.432 -5.765)" fill="#0173eb"/>
                                                <path id="Контур_23" data-name="Контур 23" d="M670.172,169.783a7.866,7.866,0,0,1-.008,1.021,2.2,2.2,0,0,1-.931,1.44,5.972,5.972,0,0,1-2.621,1.106,8.456,8.456,0,0,1-2.064.152c-.04,0-.079-.008-.152-.016v-1.145c.059,0,.132,0,.205,0a8.339,8.339,0,0,0,3.563-.636,3.64,3.64,0,0,0,1.746-1.373A4.9,4.9,0,0,0,670.172,169.783Z" transform="translate(-6.433 -4.631)" fill="#0173eb"/>
                                            </g>
                                        </svg>
                                    span Знаю 
                                        strong конъюнктуру рынка 
                                        | и не демпингую цены, в отличии от автосалонов и перекупов
                                li.advantages-item
                                    .advantages-item__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14.737" height="15.93" viewBox="0 0 14.737 15.93">
                                            <g id="Сгруппировать_118" data-name="Сгруппировать 118" transform="translate(-834.532 -899.663)">
                                                <path id="Контур_27" data-name="Контур 27" d="M844.316,918.232h-2.465v6.142h-4.214a.632.632,0,0,1-.7-.706q0-2.668,0-5.335a.627.627,0,0,1,.7-.708q2.051-.008,4.1-.012,1.357,0,2.713,0,2.028,0,4.056.011a.633.633,0,0,1,.718.719q0,2.66,0,5.319a.634.634,0,0,1-.711.711h-4.194Z" transform="translate(-1.176 -8.781)" fill="#0173eb"/>
                                                <path id="Контур_28" data-name="Контур 28" d="M843.138,911.023h-2.471v.193c0,.7,0,1.394,0,2.091,0,.127-.035.169-.167.169q-2.629-.006-5.259,0a.65.65,0,0,1-.712-.712c.019-.535.021-1.072,0-1.607a.669.669,0,0,1,.75-.754c2.543.007,5.087,0,7.631,0h5.649a.623.623,0,0,1,.681.451.871.871,0,0,1,.023.231q0,.85,0,1.7a.617.617,0,0,1-.685.684c-.4,0-.791,0-1.186,0-1.358,0-2.715,0-4.073,0-.154,0-.191-.047-.19-.194.007-.686,0-1.373,0-2.06Z" transform="translate(0 -5.254)" fill="#0173eb"/>
                                                <path id="Контур_29" data-name="Контур 29" d="M842.139,902.829a3.86,3.86,0,0,1,2.01-.006l.759-.941,1.4-1.737a1.218,1.218,0,0,1,.58-.43.973.973,0,0,1,.89.15,3.473,3.473,0,0,1,1.363,1.79,1.7,1.7,0,0,1-.532,1.81,4.011,4.011,0,0,1-1.94,1.034,2.879,2.879,0,0,1-.606.026,7.9,7.9,0,0,1-.821-.024c.263-.143.529-.278.786-.428a4.528,4.528,0,0,0,1.209-.947,1.663,1.663,0,0,0,.22-.32.826.826,0,0,0-.25-1.1.743.743,0,0,0-1.054-.123c-.647.423-1.274.876-1.912,1.318a2.132,2.132,0,0,1,.109,1.108.546.546,0,0,1-.512.5q-.693.02-1.388,0a.562.562,0,0,1-.521-.53c-.01-.249-.01-.5,0-.748a1.474,1.474,0,0,1,.092-.314c-.078-.061-.169-.137-.265-.206-.491-.35-.979-.7-1.477-1.044a.845.845,0,0,0-1.329.172.781.781,0,0,0-.085,1.04,3.328,3.328,0,0,0,1.094,1c.306.194.631.359.948.536a.35.35,0,0,1,.129.1c-.11,0-.221,0-.332,0a6.177,6.177,0,0,1-1.179-.054,3.668,3.668,0,0,1-2.039-1.213,1.675,1.675,0,0,1-.257-1.863,3.722,3.722,0,0,1,1.14-1.441,1.036,1.036,0,0,1,1.587.179c.692.844,1.371,1.7,2.056,2.549C842.054,902.728,842.094,902.775,842.139,902.829Z" transform="translate(-1.237)" fill="#0173eb"/>
                                            </g>
                                        </svg>
                                    span Небольшой 
                                        strong подарок 
                                        | от меня  при заключение договора
                        div
                            form(action="").form
                                h3.form__headline Предложите свою цену за авто
                                label.form__input
                                    input(type="tel", name="", placeholder="Телефон *" required)
                                label.form__input
                                    input(type="text", name="", placeholder="Марка и модель авто")
                                label.form__input
                                    input(type="number", name="", placeholder="Ваша цена")
                                label.form__file
                                    input(type="file", name="")
                                input.btn.form__btn(type="submit", value="Узнать цену")
                                label.form__checkbox
                                    input(type="checkbox", name="", checked)
                                    span Нажимая на кнопку, Вы соглашаетесьна обработку персональных данных
                .auto-expert
                    .container
                        .auto-expert__avatar
                            img(src="assets/img/gabdulin-ravil.png", alt="")
                        .auto-expert__content
                            h2.headline Автоэксперт
                            p Здравствуйте!
                            p Позвольте представиться.
                            p Меня зовут Габдулин Равиль, я всегда открыт для общения, Вы можете написать мне на мою страницу в 
                                a(href="https://vk.com/id3973044") социальной сети
                                | , где я часто публикую интересные материалы из мира машин.
                            p Я занимаюсь автоподбором уже 9 лет и знаю почти все об автомобильном рынке, о черных схемах переупов и невыгодных % автосалонов, скрытых условий аукционов и мошенничества на avito.
                            p Обращение ко мне, Вас ни к чему не обязывает. Вы назовете мне свое авто и желаемую цену, а я предложу свой вариант, и не редко бывает, что мой клиент выделил бюджет выше, чем Ваша цена.
            section.block.examples
                .container
                    h2.headline.headline_block Примеры выкупленных авто
                    .examples-slider-wrapper
                        .examples-slider.js--examples-slider
                            .examples-slider__item
                                .examples-slider__auto
                                    div.examples-slider__about
                                        h4.examples-slider__headline Honda Accord 1.6 5дв. хэтчбек
                                        span.examples-slider__info 
                                            strong Начало производства: 
                                            | сентябрь 1999
                                        span.examples-slider__info 
                                            strong Окончание производства: 
                                            | январь 2001
                                        span.examples-slider__info Перекупы предлагали: 430 000
                                        span.examples-slider__price Моя оценка: 500 000
                                    div
                                        a(data-fancybox="example1" href="assets/img/auto_01.jpg")
                                            img(src="assets/img/auto_01.jpg", alt="")
                                .examples-slider__auto
                                    div
                                        a(data-fancybox="example2" href="assets/img/auto_02.jpg")
                                            img(src="assets/img/auto_02.jpg", alt="")
                                    div.examples-slider__about
                                        h4.examples-slider__headline Honda Accord 1.6 5дв. хэтчбек
                                        span.examples-slider__info 
                                            strong Начало производства: 
                                            | сентябрь 1999
                                        span.examples-slider__info 
                                            strong Окончание производства: 
                                            | январь 2001
                                        span.examples-slider__info Перекупы предлагали: 430 000
                                        span.examples-slider__price Моя оценка: 500 000
                            .examples-slider__item
                                .examples-slider__auto
                                    div.examples-slider__about
                                        h4.examples-slider__headline Honda Accord 1.6 5дв. хэтчбек
                                        span.examples-slider__info 
                                            strong Начало производства: 
                                            | сентябрь 1999
                                        span.examples-slider__info 
                                            strong Окончание производства: 
                                            | январь 2001
                                        span.examples-slider__info Перекупы предлагали: 430 000
                                        span.examples-slider__price Моя оценка: 500 000
                                    div
                                        a(data-fancybox="example3" href="assets/img/auto_01.jpg")
                                            img(src="assets/img/auto_01.jpg", alt="")
                                .examples-slider__auto
                                    div
                                        a(data-fancybox="example4" href="assets/img/auto_02.jpg")
                                            img(src="assets/img/auto_02.jpg", alt="")
                                    div.examples-slider__about
                                        h4.examples-slider__headline Honda Accord 1.6 5дв. хэтчбек
                                        span.examples-slider__info 
                                            strong Начало производства: 
                                            | сентябрь 1999
                                        span.examples-slider__info 
                                            strong Окончание производства: 
                                            | январь 2001
                                        span.examples-slider__info Перекупы предлагали: 430 000
                                        span.examples-slider__price Моя оценка: 500 000
                            .examples-slider__item
                                .examples-slider__auto
                                    div.examples-slider__about
                                        h4.examples-slider__headline Honda Accord 1.6 5дв. хэтчбек
                                        span.examples-slider__info 
                                            strong Начало производства: 
                                            | сентябрь 1999
                                        span.examples-slider__info 
                                            strong Окончание производства: 
                                            | январь 2001
                                        span.examples-slider__info Перекупы предлагали: 430 000
                                        span.examples-slider__price Моя оценка: 500 000
                                    div
                                        a(data-fancybox="example5" href="assets/img/auto_01.jpg")
                                            img(src="assets/img/auto_01.jpg", alt="")
                                .examples-slider__auto
                                    div
                                        a(data-fancybox="example6" href="assets/img/auto_02.jpg")
                                            img(src="assets/img/auto_02.jpg", alt="")
                                    div.examples-slider__about
                                        h4.examples-slider__headline Honda Accord 1.6 5дв. хэтчбек
                                        span.examples-slider__info 
                                            strong Начало производства: 
                                            | сентябрь 1999
                                        span.examples-slider__info 
                                            strong Окончание производства: 
                                            | январь 2001
                                        span.examples-slider__info Перекупы предлагали: 430 000
                                        span.examples-slider__price Моя оценка: 500 000
                            .examples-slider__item
                                .examples-slider__auto
                                    div.examples-slider__about
                                        h4.examples-slider__headline Honda Accord 1.6 5дв. хэтчбек
                                        span.examples-slider__info 
                                            strong Начало производства: 
                                            | сентябрь 1999
                                        span.examples-slider__info 
                                            strong Окончание производства: 
                                            | январь 2001
                                        span.examples-slider__info Перекупы предлагали: 430 000
                                        span.examples-slider__price Моя оценка: 500 000
                                    div
                                        a(data-fancybox="example7" href="assets/img/auto_01.jpg")
                                            img(src="assets/img/auto_01.jpg", alt="")
                                .examples-slider__auto
                                    div
                                        a(data-fancybox="example8" href="assets/img/auto_01.jpg")
                                            img(src="assets/img/auto_01.jpg", alt="")
                                    div.examples-slider__about
                                        h4.examples-slider__headline Honda Accord 1.6 5дв. хэтчбек
                                        span.examples-slider__info 
                                            strong Начало производства: 
                                            | сентябрь 1999
                                        span.examples-slider__info 
                                            strong Окончание производства: 
                                            | январь 2001
                                        span.examples-slider__info Перекупы предлагали: 430 000
                                        span.examples-slider__price Моя оценка: 500 000
                        button.slider-arrow.slider-arrow_prev.js--examples-slider_prev
                            <svg xmlns="http://www.w3.org/2000/svg" width="15.336" height="13.329" viewBox="0 0 15.336 13.329">
                                <path d="M6.663,13.329,1.107,7.768,0,6.661,1.107,5.553,6.663,0,7.77,1.1,3,5.878H15.336V7.443H3L7.77,12.219Z" transform="translate(15.336 13.329) rotate(180)"/>
                            </svg>
                        button.slider-arrow.slider-arrow_next.js--examples-slider_next
                            <svg xmlns="http://www.w3.org/2000/svg" width="15.336" height="13.329" viewBox="0 0 15.336 13.329">
                                <path d="M6.663,13.329,1.107,7.768,0,6.661,1.107,5.553,6.663,0,7.77,1.1,3,5.878H15.336V7.443H3L7.77,12.219Z" transform="translate(15.336 13.329) rotate(180)"/>
                            </svg>
                    button.btn.btn_block(data-fancybox data-src="#check-my-auto") Оценить моё авто
            section.block.ways-of-selling
                .ways-of-selling-parallax.parallax-window(data-parallax="scroll" data-image-src="assets/img/ways-of-selling-background.png")
                .container
                    h2.headline.headline_block Сравните способы продажи авто
                    ul.accordion
                        li
                            span.accordion__item.js--accordion__item Самостоятельная продажа
                            ul.accordion__list
                                li Предпродажная подготовка авто (мойка, полировка, химчистка салона, техническое обслуживание, ремонт);
                                li Поиск покупателя (произвести фотосъемку, разместить объявления на десятках площадок);
                                li Бесконечный поток звонков от перекупщиков;
                                li Телефонные звонки и встречи с потенциальными покупателями (колосальная трата времени);
                                li Торг и снижение желаемой цены.(в итоге задача выгодно продать ваш авто становится невозможной);
                        li
                            span.accordion__item.js--accordion__item Перекупщики авто
                            ul.accordion__list
                                li Полное отсутствие гарантий;
                                li Просят даже сервисную книжку;
                                li Сами едете к оценщику;
                                li Никакого оформления;
                                li Требуют ксерокопию документов;
                                li Умышленное занижение цены (скупка);
                                li Отдают деньги у ларька за углом;
                        li
                            span.accordion__item.js--accordion__item Аукционы
                            ul.accordion__list
                                li Проведение аукциона в указанные дни и по записи;
                                li Дешево оценивают авто - до 85% от рынка;
                                li Взимается НДС от продажи автомобиля;
                                li Нужно приехать и ждать свою очередь;
                                li С каждой новой продажей на аукционе автомобиль теряет в цене;
                                li Выставленная на торги машина может быть куплена не сразу и не по заявленной цене;
                                li Выплата комиссионых услуг, которые обычно составляют 10% от первоначально заявленной стоимости машины;
                        li
                            span.accordion__item.js--accordion__item Автосалоны
                            ul.accordion__list
                                li Нужно приехать и ждать свою очередь;
                                li Дешево оценивают авто - до 80% от рынка;
                                li Не все автосалоны выкупают авто за деньги, многие предлагают поставить на комиссию;
                                li Подход к клиенту строго регламентирован всевозможными бумагами компании;
                                li Долгая процедура оформления документов и получения денег (от 3-ех банковских дней);
                                li Выкупают не все автомобили с пробегом;
                        li
                            span.accordion__item.js--accordion__item Обращение ко мне
                            ul.accordion__list
                                li Я лично приеду к вашему автомобилю, а не наоборот;
                                li Оплата происходит до того, как машина будет передана в наше пользование наличными или на карту любым безопасным для вас способом в течении 1 часа;
                                li После оформления документов вы не обнаружите скрытых комиссий или претензий, касающихся неисправностей машины; 
                                    a(href="") Образец договора
                                li Я могу выкупить ваш автомобиль, даже если Вы не заплатили кредит. Вы получите деньги сразу, а я помогу оформить все документы в банке;
                                li Я не просто покупаю авто, а предоставляю сервис, быстро приезжаю, справедливо оцениваю стоимость, выплачиваю деньги сразу;
                                li Я всегда оцениваю товар честно, не завышая его стоимость намеренно, чтобы привлечь к себе как можно больше клиентов;
                                li Я дорожу своей репутацией на рынке, и меня не интересует одномоментная выгода
            section.block.photo-rating
                .container
                    h2.headline.headline_block.headline_white Произведу оценку по фото
                    .photo-rating__text
                        p Получите бесплатную оценку, отправив мне фото автомобиля в 
                            a(href="") WhatsApp 
                            | или 
                            a(href="") Viber
                            | , или 
                            a(href="") Telegram
                            | .
                        p Я изучу снимки и предоставлю оценку в течении 10 минут.
                    button.btn.btn_block(data-fancybox data-src="#check-my-auto") Узнать оценку
            section.block.examples-of-jobs.js--examples-of-jobs
                .container
                    h2.headline.headline_block Примеры моей работы
                    ul.examples-of-jobs-list
                        li.examples-of-jobs-list__item
                            .examples-of-jobs-list__video
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/TUOmuvI8HBc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            h4.examples-of-jobs-list__headline Иван Баклажан
                            span.examples-of-jobs-list__link
                                <svg xmlns="http://www.w3.org/2000/svg" width="15.582" height="9.36" viewBox="0 0 15.582 9.36">
                                    <path d="M451.1,53.131c.286,0,.572.008.858,0a.7.7,0,0,1,.64.341q.309.455.6.921c.431.685.829,1.39,1.284,2.061a3.59,3.59,0,0,0,.56.689c.239.214.406.178.531-.119a3.554,3.554,0,0,0,.211-1.108c.046-.549.039-1.1.034-1.65,0-.409-.174-.578-.582-.587-.108,0-.216,0-.324,0-.041,0-.095.018-.118-.028s.024-.09.056-.123a2.987,2.987,0,0,1,1.611-.871,7.97,7.97,0,0,1,1.228-.034c.194-.005.389,0,.583,0a.581.581,0,0,1,.615.444,3.049,3.049,0,0,1,.106,1.009c0,.76-.086,1.52-.011,2.28a2,2,0,0,0,.15.659.375.375,0,0,0,.691.076,1.76,1.76,0,0,0,.231-.426A19.2,19.2,0,0,1,462,53.2a.622.622,0,0,1,.538-.243,6.118,6.118,0,0,1,2.291.338,1.125,1.125,0,0,1,.134.058c.2.1.236.177.181.389a3.945,3.945,0,0,1-.487,1.018c-.473.789-1.047,1.506-1.58,2.253a5.183,5.183,0,0,0-.3.477c-.213.381-.188.527.16.782a7.7,7.7,0,0,1,1.092.985A8.682,8.682,0,0,1,465,60.44a.947.947,0,0,1-.087,1.194,1.091,1.091,0,0,1-.783.338c-.6.008-1.2,0-1.8,0a.613.613,0,0,1-.431-.156q-.251-.23-.492-.469a12.052,12.052,0,0,0-1.16-1.057c-.086-.065-.176-.125-.265-.185a.84.84,0,0,0-.956-.084,1.083,1.083,0,0,0-.6.938,2.243,2.243,0,0,1-.067.608.5.5,0,0,1-.542.405,5.652,5.652,0,0,1-1.856-.209,5.554,5.554,0,0,1-2.027-1.243,14.93,14.93,0,0,1-3.754-5.408c-.177-.429-.357-.856-.531-1.286-.161-.4-.037-.625.39-.66.348-.028.7-.006,1.051-.006Z" transform="translate(-449.589 -52.618)" fill="#016ee2"/>
                                </svg>
                                a(href="https://vk.com/ivanbaklajan") https://vk.com/ivanbaklajan
                        li.examples-of-jobs-list__item
                            .examples-of-jobs-list__video
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/TUOmuvI8HBc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            h4.examples-of-jobs-list__headline Иван Баклажан
                            span.examples-of-jobs-list__link
                                <svg xmlns="http://www.w3.org/2000/svg" width="15.582" height="9.36" viewBox="0 0 15.582 9.36">
                                    <path d="M451.1,53.131c.286,0,.572.008.858,0a.7.7,0,0,1,.64.341q.309.455.6.921c.431.685.829,1.39,1.284,2.061a3.59,3.59,0,0,0,.56.689c.239.214.406.178.531-.119a3.554,3.554,0,0,0,.211-1.108c.046-.549.039-1.1.034-1.65,0-.409-.174-.578-.582-.587-.108,0-.216,0-.324,0-.041,0-.095.018-.118-.028s.024-.09.056-.123a2.987,2.987,0,0,1,1.611-.871,7.97,7.97,0,0,1,1.228-.034c.194-.005.389,0,.583,0a.581.581,0,0,1,.615.444,3.049,3.049,0,0,1,.106,1.009c0,.76-.086,1.52-.011,2.28a2,2,0,0,0,.15.659.375.375,0,0,0,.691.076,1.76,1.76,0,0,0,.231-.426A19.2,19.2,0,0,1,462,53.2a.622.622,0,0,1,.538-.243,6.118,6.118,0,0,1,2.291.338,1.125,1.125,0,0,1,.134.058c.2.1.236.177.181.389a3.945,3.945,0,0,1-.487,1.018c-.473.789-1.047,1.506-1.58,2.253a5.183,5.183,0,0,0-.3.477c-.213.381-.188.527.16.782a7.7,7.7,0,0,1,1.092.985A8.682,8.682,0,0,1,465,60.44a.947.947,0,0,1-.087,1.194,1.091,1.091,0,0,1-.783.338c-.6.008-1.2,0-1.8,0a.613.613,0,0,1-.431-.156q-.251-.23-.492-.469a12.052,12.052,0,0,0-1.16-1.057c-.086-.065-.176-.125-.265-.185a.84.84,0,0,0-.956-.084,1.083,1.083,0,0,0-.6.938,2.243,2.243,0,0,1-.067.608.5.5,0,0,1-.542.405,5.652,5.652,0,0,1-1.856-.209,5.554,5.554,0,0,1-2.027-1.243,14.93,14.93,0,0,1-3.754-5.408c-.177-.429-.357-.856-.531-1.286-.161-.4-.037-.625.39-.66.348-.028.7-.006,1.051-.006Z" transform="translate(-449.589 -52.618)" fill="#016ee2"/>
                                </svg>
                                a(href="https://vk.com/ivanbaklajan") https://vk.com/ivanbaklajan
                        li.examples-of-jobs-list__item
                            .examples-of-jobs-list__video
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/TUOmuvI8HBc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            h4.examples-of-jobs-list__headline Иван Баклажан
                            span.examples-of-jobs-list__link
                                <svg xmlns="http://www.w3.org/2000/svg" width="15.582" height="9.36" viewBox="0 0 15.582 9.36">
                                    <path d="M451.1,53.131c.286,0,.572.008.858,0a.7.7,0,0,1,.64.341q.309.455.6.921c.431.685.829,1.39,1.284,2.061a3.59,3.59,0,0,0,.56.689c.239.214.406.178.531-.119a3.554,3.554,0,0,0,.211-1.108c.046-.549.039-1.1.034-1.65,0-.409-.174-.578-.582-.587-.108,0-.216,0-.324,0-.041,0-.095.018-.118-.028s.024-.09.056-.123a2.987,2.987,0,0,1,1.611-.871,7.97,7.97,0,0,1,1.228-.034c.194-.005.389,0,.583,0a.581.581,0,0,1,.615.444,3.049,3.049,0,0,1,.106,1.009c0,.76-.086,1.52-.011,2.28a2,2,0,0,0,.15.659.375.375,0,0,0,.691.076,1.76,1.76,0,0,0,.231-.426A19.2,19.2,0,0,1,462,53.2a.622.622,0,0,1,.538-.243,6.118,6.118,0,0,1,2.291.338,1.125,1.125,0,0,1,.134.058c.2.1.236.177.181.389a3.945,3.945,0,0,1-.487,1.018c-.473.789-1.047,1.506-1.58,2.253a5.183,5.183,0,0,0-.3.477c-.213.381-.188.527.16.782a7.7,7.7,0,0,1,1.092.985A8.682,8.682,0,0,1,465,60.44a.947.947,0,0,1-.087,1.194,1.091,1.091,0,0,1-.783.338c-.6.008-1.2,0-1.8,0a.613.613,0,0,1-.431-.156q-.251-.23-.492-.469a12.052,12.052,0,0,0-1.16-1.057c-.086-.065-.176-.125-.265-.185a.84.84,0,0,0-.956-.084,1.083,1.083,0,0,0-.6.938,2.243,2.243,0,0,1-.067.608.5.5,0,0,1-.542.405,5.652,5.652,0,0,1-1.856-.209,5.554,5.554,0,0,1-2.027-1.243,14.93,14.93,0,0,1-3.754-5.408c-.177-.429-.357-.856-.531-1.286-.161-.4-.037-.625.39-.66.348-.028.7-.006,1.051-.006Z" transform="translate(-449.589 -52.618)" fill="#016ee2"/>
                                </svg>
                                a(href="https://vk.com/ivanbaklajan") https://vk.com/ivanbaklajan
            section.block.present
                .container
                    .present-content
                        h2.headline Небольшой презент от меня
                        p Я знаю, что многие продают машину по причине смены автомобиля или для ипотечного взноса.
                        p Своим клиентам всегда стараюсь сделать небольшой и полезный презент при 
                            strong заключении договора.
                    button.btn.btn_block(data-fancybox data-src="#gift") Хочу подарок
            section.block
                .container
                    .js--documents
                        h2.headline.headline_block Какие необходимы документы для работы?
                        ul.documents-list
                            li.documents-list__item.js--documents-list__item.active
                                span.documents-list__point ПТС
                                span.documents-list__desc Паспорт транспортного средства
                            li.documents-list__item.js--documents-list__item
                                span.documents-list__point паспорт
                                span.documents-list__desc Паспорта РФ или другой страны для иностранцев
                            li.documents-list__item.js--documents-list__item
                                span.documents-list__point стс
                                span.documents-list__desc Свидетельства о регистрации транспортного средствадля иностранцев
                            li.documents-list__item.js--documents-list__item
                                span.documents-list__point доверенность
                                span.documents-list__desc Нотариально заверенная доверенность, если Вы не собственник автомобиля
                        ul.documents-numbers
                            li.documents-numbers__item 
                                span 1
                            li.documents-numbers__item 
                                span 2
                            li.documents-numbers__item 
                                span 3
                            li.documents-numbers__item 
                                span 4
                        ul.documents-photos
                            li.documents-photos__item.js--documents-photos__item.active
                                img(src="assets/img/pts.jpg", alt="")
                            li.documents-photos__item.js--documents-photos__item
                                img(src="assets/img/pasport.jpg", alt="")
                            li.documents-photos__item.js--documents-photos__item
                                img(src="assets/img/sts.jpg", alt="")
                            li.documents-photos__item.js--documents-photos__item
                                img(src="assets/img/doverennost.jpg", alt="")
            section.block.statistics.parallax-window(data-parallax="scroll" data-image-src="assets/img/statistics-background.jpg")
                .container
                    h2.headline.headline_block.headline_white Какие авто меня интересуют прямо сейчас?
                    .statistics-headlines
                        span состояние
                        span заказов в работе
                    ul.statistics-list
                        li.statistics-list__item
                            span Близко к идеальному
                            span 2
                        li.statistics-list__item
                            span Подержаные
                            span 22
                        li.statistics-list__item
                            span Битые
                            span 5
                        li.statistics-list__item
                            span Авто с пробегом
                            span 2
                    button.btn.btn_block(data-fancybox data-src="#check-my-auto") Оценить моё авто
            
            // Модалки

            .modal#call-me
                form(action="").form
                    h3.form__headline Перезвоню в течение пяти минут
                    label.form__input
                        input(type="tel", name="", placeholder="Телефон *" required)
                    input.btn.form__btn(type="submit", value="Перезвоните мне")

            .modal#check-my-auto
                form(action="").form
                    h3.form__headline Оцените моё авто
                    label.form__input
                        input(type="tel", name="", placeholder="Телефон *" required)
                    label.form__input
                        input(type="text", name="", placeholder="Марка и модель авто")
                    label.form__file
                        input(type="file", name="")
                    input.btn.form__btn(type="submit", value="Узнать оценку")
                    label.form__checkbox
                        input(type="checkbox", name="", checked)
                        span Нажимая на кнопку, Вы соглашаетесьна обработку персональных данных
            
            .modal#gift
                form(action="").form
                    h3.form__headline Хочу получить подарок
                    label.form__input
                        input(type="tel", name="", placeholder="Телефон *" required)
                    label.form__input
                        input(type="text", name="", placeholder="Марка и модель авто")
                    input.btn.form__btn(type="submit", value="Получить подарок")
                    label.form__checkbox
                        input(type="checkbox", name="", checked)
                        span Нажимая на кнопку, Вы соглашаетесьна обработку персональных данных

            .modal#delay-form
                .delay-form
                    .delay-form-content
                        h3.delay-form-headline Задержитесь на </br>
                            strong 30 секунд
                        p Доверив мне автомобиль:
                        ol
                            li Вы экономите 
                                strong время и нервы
                            li Получите 
                                strong максимально выгодное предложение 
                                | в Перми
                            li Ограничите себя от 
                                b шквала звонков неадекватных перекупов
                            li Получите небольшой 
                                strong подарок 
                                | от меня
                            li Общение со мной займет у вас не более 
                                strong 10 минут

                    form(action="").form
                        h3.form__headline Предложите свою цену за авто
                        label.form__input
                            input(type="tel", name="", placeholder="Телефон *" required)
                        label.form__input
                            input(type="text", name="", placeholder="Марка и модель авто")
                        label.form__input
                            input(type="number", name="", placeholder="Ваша цена")
                        label.form__file
                            input(type="file", name="")
                        input.btn.form__btn(type="submit", value="Узнать цену")
                        label.form__checkbox
                            input(type="checkbox", name="", checked)
                            span Нажимая на кнопку, Вы соглашаетесьна обработку персональных данных
        footer
            .footer-content
                div
                    h2.footer-headline Контакты
                    ul.footer-list
                        li.footer-list__item
                            span.footer-list__item-desc Автоэксперт:
                            span.footer-list__item-point Габдулин Равиль
                        li.footer-list__item
                            span.footer-list__item-desc Телефон:
                            a(href="tel:+79641874067").footer-list__item-point +7 (964) 187-40-67
                            ul.soc-list
                                li.soc-list__item
                                    a(href="")
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16.854" height="17.101" viewBox="0 0 16.854 17.101">
                                            <path d="M679.332,54.936a17.8,17.8,0,0,1,4.889.633,4.35,4.35,0,0,1,3.23,3.256,12.7,12.7,0,0,1-.036,6.531,4.178,4.178,0,0,1-3.156,3.074,18.07,18.07,0,0,1-5.621.614,1.007,1.007,0,0,0-.854.389q-1.043,1.15-2.117,2.273c-.158.167-.332.417-.607.282-.23-.113-.181-.382-.183-.6-.005-.749-.011-1.5,0-2.247a.665.665,0,0,0-.5-.739,4.65,4.65,0,0,1-3.186-3.946,14,14,0,0,1,.039-4.737c.441-2.648,1.9-4,4.81-4.507A15.169,15.169,0,0,1,679.332,54.936Zm4.935,10.593a.649.649,0,0,0-.231-.527,7.672,7.672,0,0,0-1.882-1.213.844.844,0,0,0-1.069.272,1.187,1.187,0,0,1-1.6.286,5,5,0,0,1-2.526-2.413.862.862,0,0,1,.3-1.3.783.783,0,0,0,.225-1.244,12.611,12.611,0,0,0-.873-1.157c-.6-.677-.885-.738-1.459-.388-1.021.623-1.344,1.181-1.035,1.946a12.285,12.285,0,0,0,8,7.239A1.963,1.963,0,0,0,684.267,65.528Zm-4.494-8.419c-.166.053-.5-.128-.513.188-.007.236.317.147.5.186.15.032.305.042.457.07a4.428,4.428,0,0,1,3.981,4.127,2.559,2.559,0,0,0,.064.324c.035.124.064.281.241.251.133-.022.145-.157.144-.265a4.576,4.576,0,0,0-.029-.66A5.058,5.058,0,0,0,679.773,57.109Zm.278,1.276c-.1.006-.354-.091-.387.133s.225.212.39.244.3.044.452.08a2.816,2.816,0,0,1,2.337,2.512c.029.2-.048.532.276.484.279-.041.2-.35.171-.558A3.333,3.333,0,0,0,680.052,58.385Z" transform="translate(-671.007 -54.924)"/>
                                        </svg>
                                li.soc-list__item
                                    a(href="")
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18.703" height="18.665" viewBox="0 0 18.703 18.665">
                                            <path d="M655.653,63.454a9.352,9.352,0,0,1-13.925,8.108,1.221,1.221,0,0,0-1.107-.114c-.759.274-1.531.512-2.3.761-.529.172-.676-.016-.5-.526.221-.64.4-1.294.653-1.922a1.613,1.613,0,0,0-.152-1.535,9.358,9.358,0,0,1,8.209-14.134A9.209,9.209,0,0,1,655.653,63.454Zm-14.56-2.467a2.407,2.407,0,0,0,.164,1,10.489,10.489,0,0,0,7.766,6.554,2.582,2.582,0,0,0,2.451-.927,1.2,1.2,0,0,0-.389-2.02c-.208-.106-.417-.212-.628-.314-1.149-.555-1.175-.576-1.96.412a.938.938,0,0,1-1.337.294,7.24,7.24,0,0,1-3.168-2.794c-.237-.387-.286-.741.06-1.052a1.422,1.422,0,0,0,.219-1.962c-.187-.34-.3-.721-.466-1.072a1.019,1.019,0,0,0-1.661-.37A2.955,2.955,0,0,0,641.093,60.987Z" transform="translate(-636.949 -54.091)"/>
                                        </svg>
                                li.soc-list__item
                                    a(href="")
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15.101" viewBox="0 0 18 15.101">
                                            <path d="M619.47,283.141q-.345,1.611-.69,3.221-1.017,4.787-2.033,9.574a1.8,1.8,0,0,1-.243.654.745.745,0,0,1-.847.334,1.644,1.644,0,0,1-.612-.293q-1.893-1.4-3.787-2.8c-.133-.1-.21-.108-.337.017-.631.621-1.274,1.23-1.912,1.844a.989.989,0,0,1-.574.308c-.139.016-.208-.029-.2-.181.034-.48.061-.96.094-1.44.032-.46.069-.92.1-1.38.027-.376.056-.752.079-1.128a.348.348,0,0,1,.157-.236q1.289-1.167,2.579-2.331l3.827-3.454q.515-.465,1.028-.931a1.588,1.588,0,0,0,.137-.139.117.117,0,0,0,.031-.142.152.152,0,0,0-.154-.064.944.944,0,0,0-.436.158l-3.554,2.237q-2.876,1.81-5.75,3.623a.356.356,0,0,1-.328.045q-1.917-.606-3.836-1.2a1.543,1.543,0,0,1-.543-.258.437.437,0,0,1-.052-.7,1.461,1.461,0,0,1,.566-.373q2.147-.834,4.3-1.662l11.86-4.566c.024-.009.047-.022.07-.033.319,0,.638,0,.957,0,.084,0,.1.016.1.1C619.467,282.347,619.47,282.744,619.47,283.141Z" transform="translate(-601.472 -281.849)"/>
                                        </svg>
                        li.footer-list__item
                            span.footer-list__item-desc Почта:
                            a(href="mailto:ravrav4eg@gmail.com").footer-list__item-point ravrav4eg@gmail.com
                        li.footer-list__item
                            span.footer-list__item-desc Я в vk.com:
                            a(href="https://vk.com/id3973044").footer-list__item-point Габдулин Равиль
                        li.footer-list__item
                            span.footer-list__item-desc Адрес:
                            span.footer-list__item-point Ленина 1
                    .footer-under
                        span Автоподбор в Перми и  Пермском крае
                        button.btn(data-fancybox data-src="#gift") Заказать звонок
            .footer-map
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A686eafe88da3a255a769cc18831fceabce2f93599aeb82584cbe419bd140ae78&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
